.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}


main.p-6 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


.title {
  font-size: 1.5rem;
  font-weight: bold;
}


.header-right {
  display: flex;
  gap: 12px;
}


.btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: background-color 0.2s ease;
}


.login-btn, .register-btn  {
  background-color: #3498db;
}

.login-btn:hover,  .register-btn:hover {
  background-color: #2980b9;
}


